<!--
// GNU Affero General Public License V.3.0 or AGPL-3.0
//
// notes remake vite + vue3
// Copyright (C) 2021,2022 - quoeamaster@gmail.com
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
   <div class="border-b-2 border-blue-200 h-[60px] leading-[60px]">
      <div class="px-[24px] flex">
         <!-- the title + (imageIcon | icon) -->
         <div class="flex-auto" :class="cssTitleNIcon()">
            <fa-icon :icon="['fas', iconClass]" class="text-[22px]"></fa-icon>
            <span class="pl-[8px] text-[18px] font-semibold">{{title}}</span>
         </div>
         <!-- the close button -->
         <div class="flex-none w-[80px] text-right text-gray-400">
            <fa-icon icon="circle-xmark" class="text-[22px] cursor-pointer" @click="closeButtonClick"></fa-icon>
         </div>

      </div>
   </div>
</template>

<script>
export default {
   props: {
      // if icon is required
      iconClass: String,
      // color of the icon (e.g. text-amber-500)
      iconColor: String,

      // [missing-feature] image-icon's url (if image-icon is required instead)
      //imageIconURL: String,

      // title for the activity view /sheet
      title: String,
   },
   emits: [ 'closeButtonClick' ],
   methods: {
      cssTitleNIcon: function() {
         let _c = {};
         _c[`${this.iconColor}`]=true;
         return _c;
      },
      closeButtonClick: function() {
         this.$emit('closeButtonClick');
      },

   },

}
</script>