<!--
// GNU Affero General Public License V.3.0 or AGPL-3.0
//
// notes remake vite + vue3
// Copyright (C) 2021,2022 - quoeamaster@gmail.com
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
   <div class="activity-view-container app-width overflow-y-clip">
      <div class="activity-view-inner-container bg-slate-100 z-30 activity-view-height rounded-t-lg 
         drop-shadow-xl animate-bounce-once ease-in" 
         :class="cssCloseAnimation()" >
         <Header iconClass="circle-question" 
            iconColor="text-amber-500" 
            title="Information / Tutorial / Links" 
            @closeButtonClick="handleCloseButtonClick"></Header>

         <!-- youtube embedeed -->
         <div class="flex px-3 pt-[80px]">
            <div class="grow pb-[20px] text-center ">
               <div class="inline-block align-top pl-[12px] pt-[50px]">
                  <div class="text-[40px] font-extralight">Notes Remake</div>
                  <div class="pt-[8px]">
                     <span>author: </span><span class="text-[22px] font-light">Jason Wong</span>
                  </div>
                  <div class="pt-[14px]">
                     <fa-icon icon="envelope"></fa-icon>
                     <span class="pl-[8px]">quoeamaster@gmail.com</span>
                  </div>
               </div>
               <!-- email, git, bookstore -->
               <div class="flex px-[13px] text-center mt-3 text-[14px]">
                  <div class="flex-1">
                     <fa-icon :icon="['fa-brands', 'github']" />
                     <span class="pl-[8px]">
                        <a href="https://gitlab.com/quoeamaster/notes-remake-vue3-book" target="_blank">https://gitlab.com/quoeamaster/notes-remake-vue3-book</a>
                     </span>
                  </div>
               </div>
            </div>
            <!-- youtube -->
            <div class="flex-initial h-[300px] overflow-y-scroll w-[400px] mx-auto mt-2">
               <iframe width="400" height="300" src="https://www.youtube.com/embed/Bov9hsgxAYw" title="notes remake - vue3, tailwindCss, vite" 
               frameborder="0" SameSite crossorigin
               allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
               allowfullscreen></iframe>
            </div>
         </div>

      </div>
   </div>
</template>

<script>
import Header from './AViewHeader.vue';

export default {
   props: {
      aviewID: String,
   },
   emits: [ 'closeButtonClick' ],
   components: {
      Header,
   },
   data() {
      return {
         // indicator / flag on whether the closing animation should be initiated
         shouldRunCloseAnimation: false,
      };
   },
   methods: {
      handleCloseButtonClick: function() {
         // animation before firing the event to the parent component
         this.shouldRunCloseAnimation = true;

         // let the parent component to "close" this activity view / sheet 
         const _ctx = this;
         setTimeout(function() {
            _ctx.$emit('closeButtonClick');
         }, 300);
         setTimeout(function() {
            _ctx.shouldRunCloseAnimation = false;
         }, 500);
      },

      cssCloseAnimation: function() {
         let _c = {};
         if (true == this.shouldRunCloseAnimation) {
            _c['animate-bounce-once-out'] = true;
         }
         return _c;
      },

   },
};
</script>