<!--
// GNU Affero General Public License V.3.0 or AGPL-3.0
//
// notes remake vite + vue3
// Copyright (C) 2021,2022 - quoeamaster@gmail.com
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>   
   <div class="h-[60px] border-b border-b-slate-200 drop-shadow-md flex">
      <!-- backdrop -->
      <div class="z-20 app-width app-height absolute top-0 left-0 bg-[rgba(148,163,184,0.4)] overflow-hidden" :class="cssBackdrop()">
         <!-- activity view(s) / sheet(s) "v-if" should be fine... -->
         <AVAbout v-if="'showAbout' == activityViewID" @closeButtonClick="handleAViewClose" ></AVAbout>
         <AVNoteOptions v-if="'showNoteOptions' == activityViewID" @closeButtonClick="handleAViewClose" ></AVNoteOptions>
      </div>
      
      
      <!-- backing label -->
      <div class="flex-auto w-[60px] text-amber-500 text-[20px] leading-[60px] pl-[20px] z-10">
         <div v-if='needBacking==true' class="cursor-pointer" @click="backButtonClick" >
            <fa-icon icon="angle-left" class="" /><span class="pl-[8px]">{{backLabel}}</span>
         </div>
         <div v-if="needBacking==false">&nbsp;</div>
      </div>

      <!-- title -->
      <div class="flex-auto leading-[60px] text-[20px]">
         <span class="">{{title}}</span>
      </div>

      <!-- more button -->
      <div class="flex-none w-[60px] text-amber-500 text-[20px] leading-[60px] pr-[20px] cursor-pointer z-10" 
         @click="moreButtonClick">
         <fa-icon icon="list-ul"></fa-icon>
      </div>

   </div>
   
</template>

<script>
import AVAbout from './AViewAbout.vue';
import AVNoteOptions from './AVNoteOptions.vue';

export default {
   props: {
      // need to show the backing button?
      needBacking: Boolean,
      // the label for the "back" button
      backLabel: String,
      // the main title for display
      title: String,
      // the corresponding activity-view to display when the "more" button has been clicked
      // [ref: https://developer.apple.com/design/human-interface-guidelines/ios/views/activity-views/]
      activityViewID: String,
   },
   data() {
      return {
         // if "more" clicked or not
         isMoreBtnClicked: false,
      };
   },
   components: {
      AVAbout,
      AVNoteOptions,
   },
   emits: [ 'backButtonClick' ],
   methods: {
      backButtonClick: function() {
         this.$emit('backButtonClick', {});
      },
      moreButtonClick: function() {
         // trigger the backdrop to show
         this.isMoreBtnClicked = true;
      },
      handleAViewClose: function() {
         this.isMoreBtnClicked = false;
      },
      cssBackdrop: function() {
         let _c = {};
         if (true == this.isMoreBtnClicked) {
            _c["z-20"] = true;
            _c["z-0"] = false;
            _c["block"] = true;
            _c["hidden"] = false;
         } else {
            _c["z-20"] = false;
            _c["z-0"] = true;
            _c["block"] = false;
            _c["hidden"] = true;
         }
         return _c;
      },

   },
}
</script>
