<!--
// GNU Affero General Public License V.3.0 or AGPL-3.0
//
// notes remake vite + vue3
// Copyright (C) 2021,2022 - quoeamaster@gmail.com
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
   <!-- h-[48px] my-[2px] -->
   <div class="flex rounded-md px-[8px] h-[40px] leading-[40px] my-[4px] align-middle bg-white shadow-lg ">
      <div class="flex-auto">
         <input v-model="inputValue" 
            ref="tagInput"
            @keyup.enter='blurTextinput'
            @keyup.escape="cancelBtnClick"
            placeholder="  provide a tag name here..."
            class=" h-[36px] 
               align-baseline w-[100%] px-[8px] text-[16px] 
               text-amber-500 selection:text-amber-700 selection:bg-blue-100 focus:border-[0] focus:outline-none ">
      </div>
      <div class="flex-initial pl-[8px]">
         <fa-icon icon="circle-xmark" @click="cancelBtnClick" class="cursor-pointer"></fa-icon>
      </div>
   </div>
</template>

<script>
export default {
   emits: [ 'blurTextinput' ],
   props: {
      isTagInputFocus: Boolean,
   },
   data() {
      return {
         // actual value within the textinput
         inputValue: '',
      };
   },
   mounted() {
      if (true == this.isTagInputFocus) {
         const _text = this.$refs.tagInput;
         // only set textinput:focus when isTagInputFocus === true
         if (_text) {
            _text.focus();
            _text.select();
         }
      }
   },
   methods: {
      blurTextinput: function() {
         this.$emit('blurTextinput', this.inputValue);
      },
      cancelBtnClick: function() {
         // empty payload means cancel
         this.inputValue = '';
         this.$emit('blurTextinput', this.inputValue);
      },
   },

}
</script>