<!--
// GNU Affero General Public License V.3.0 or AGPL-3.0
//
// notes remake vite + vue3
// Copyright (C) 2021,2022 - quoeamaster@gmail.com
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
   <span class="rounded-3xl text-[14px] font-bold pl-[20px] pr-[12px] py-[8px] h-[24px] leading-[24px] mx-[2px] bg-amber-400">
      {{label}}
      <span v-if="canCancel==true" class="pl-[4px]">
         <fa-icon icon="circle-xmark" class="text-white h-[20px] leading-[20px] align-middle cursor-pointer" @click="cancelClick"></fa-icon>
      </span>
      <span v-if="canCancel==false" class="pr-[6px]"></span>
   </span>
</template>

<script>
export default {
   props: {
      label: String,
      canCancel: Boolean,
   },
   emits: [ 'cancelClick' ],
   methods: {
      cancelClick: function() {
         this.$emit('cancelClick', this.label);
      },
   },
}
</script>