<!--
// GNU Affero General Public License V.3.0 or AGPL-3.0
//
// notes remake vite + vue3
// Copyright (C) 2021,2022 - quoeamaster@gmail.com
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
   <div class="absolute top-0 left-0 z-10 w-[calc(100%+1rem)] h-[calc(100%+1rem)] bg-[rgba(0,0,0,0.4)]" :class="cssBackdrop()">
      <div class="z-20 m-auto w-[500px] h-[300px] mt-[200px] bg-slate-100 rounded-2xl py-[12px]">
         <div class="h-[200px] leading-[200px] text-center text-[24px]">
            <span>
               {{msg}}
            </span>
         </div>
         <div class="h-[88px] leading-[88px] text-center border-t border-slate-300 rounded-b-2xl" >
            <!-- alert type dialog -->
            <div v-if="'alert'==dlgType" class="flex hover:bg-slate-200 hover:rounded-b-2xl">
               <button class="flex-auto text-[26px] font-light text-center hover:text-[28px] hover:text-blue-500 " @click="clickEvent">continue</button>
            </div>

            <!-- confirm type dialog -->
            <div v-if="'confirm' == dlgType" class="flex flex-row">
               <button @click="clickEvent('yes')"
                  class="basis-1/2 text-[26px] font-light text-center hover:text-[28px] hover:text-blue-500 hover:bg-slate-200 hover:rounded-bl-2xl ">YES</button>
               <button @click="clickEvent('no')"
                  class="basis-1/2 text-[26px] font-light text-center hover:text-[28px] hover:text-blue-500 hover:bg-slate-200 hover:rounded-br-2xl ">NO</button>
            </div>
            
         </div>
      </div>
   </div>
</template>

<script>
export default {
   emits: [ 'dlgClick' ],
   props: {
      // display the backdrop or not 
      show: Boolean,
      // the type of the dialog (new value should be added for future extendability usage)
      //
      // alert -> normal read-only dialog
      // confirm -> YES or NO dialog
      dlgType: String,
      // main message for display
      msg: String,
   },
   methods: {
      cssBackdrop: function() {
         if (this.show == true) {
            return { 'block': true, 'hidden': false, 'z-20': true, 'z-10': false, };
         } else {
            return { 'block': false, 'hidden': true, 'z-20': false, 'z-10': true, };
         }
      },
      clickEvent: function(payload) {
         this.$emit('dlgClick', payload);
      },

   },
}
</script>
