<!--
// GNU Affero General Public License V.3.0 or AGPL-3.0
//
// notes remake vite + vue3
// Copyright (C) 2021,2022 - quoeamaster@gmail.com
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
   <div @click="noteItemClick" class="mx-4 my-2 bg-slate-100 rounded-md py-[20px] px-[16px] cursor-pointer flex">
      <div class="flex-initial w-[60px] text-left">
         <!-- display depends on the "type" value (plain, list, image) -->
         <fa-icon v-if="'plain' == item.type" icon="pen-to-square"></fa-icon>
         <fa-icon v-if="'list' == item.type" icon="list-ul"></fa-icon>
         <fa-icon v-if="'image' == item.type" icon="images"></fa-icon>
      </div>
      <!-- plain note (preview) -->
      <div v-if="'plain' == item.type" class="flex-auto ml-2">
         <div>{{item.title}}</div>
         <div class="mt-2 bg-slate-200 border border-slate-500 rounded-md px-2 py-2 max-h-[100px] cursor-default overflow-scroll" 
            v-html="item.contents"></div>
      </div>
      <!-- list note (preview) -->
      <div v-if="'list' == item.type" class="flex-auto ml-2">
         <div>{{item.title}}</div>
         <div class="mt-2 bg-slate-200 border border-slate-500 rounded-md px-2 py-2 max-h-[100px] cursor-default overflow-scroll" 
            v-html="translateListItems()"></div>
      </div>
      <!-- image note (preview) -->
      <div v-if="'image' == item.type" class="flex-auto ml-2">
         <div>{{item.title}}</div>
         <div class="mt-2  cursor-default flex" >
            <div class="flex-initial w-[200px] mr-2">
               <img :src="item.contents.iSrc" class="rounded-md object-scale-down w-max-[200px] max-h-[200px] cursor-pointer my-auto border border-slate-200" />
            </div>
            <div class=" flex-grow bg-slate-200 border border-slate-500 rounded-md px-2 py-2 max-h-[200px] overflow-scroll" 
               v-html="item.contents.message"></div>
         </div>
      </div>
   </div>
</template>

<script>
export default {
   props: {
      item: Object,
   },
   emits: [ 'noteItemClick' ],
   methods: {
      noteItemClick: function() {
         this.$emit('noteItemClick', this.item);
      },
      translateListItems: function() {
         // rearrange -> list form etc...
         const _items = this.item.contents;
         let _s = '';
         if (Array.isArray(_items)) {
            for (let _i=0; _i<_items.length; _i++) {
               const _item = _items[_i];
               // just generate a snippet for the 1st 4 entries
               if (_i > 3) {
                  _s = _s + `<li>... more ...</li>`;
                  break;
               }
               _s = _s + `<li> * ${_item.message}</li>`;
            } // end - for (contents iteration)
            _s = `<ul>${_s}</ul>`;
         }
         return _s;
      },
   },
}
</script>