<!--
// GNU Affero General Public License V.3.0 or AGPL-3.0
//
// notes remake vite + vue3
// Copyright (C) 2021,2022 - quoeamaster@gmail.com
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
   <div>
      <backable-header 
         :needBacking=false 
         backLabel="Back" 
         title="Notes" 
         activityViewID="showAbout"
         @backButtonClick="handleBackButtonClick" ></backable-header>
      
      <!-- depends on the "hasNotes" value -->
      <div v-if="!hasNotes" class="w-[640px] mx-auto my-8 bg-slate-100 shadow-lg shadow-slate-500/50 h-[700px] rounded-2xl text-[180px]">
         <!-- img src="./../assets/no-note-splash.png" class="pt-[40px] w-[400px] mx-auto" -->
         <img :src="getNoNoteImage" class="pt-[40px] w-[400px] mx-auto">
         
         <div class="pt-[80px] text-center font-extralight text-[30px]">
            be the first one to write a note!
            <span class="pl-[18px]"><fa-icon icon="pen-to-square" class="text-amber-500 text-[50px] cursor-pointer" @click="fwd2AddNote"></fa-icon></span>
         </div>
      </div>

      <!-- has notes (show listing page) -->
      <div v-if="hasNotes">
         <!-- filter bar -->
         <div class="h-[50px] leading-[50px] border-b border-b-slate-200 drop-shadow-md text-[16px] px-3">
            <div class="flex">
               <div clas="flex-auto">
                  <span class="pr-2">Filter by Tag:</span>
                  <!-- tag values = all possible tags within all Notes -->
                  <select v-model="selectedTag" 
                     class="mr-2 h-[36px] leading-[36px] my-auto rounded-md px-2 cursor-pointer text-center
                     appearance-none w-[220px] font-light border border-solid border-gray-300 
                     transition ease-in-out focuse:outline-none">
                     <option v-for="(t, i) in getAllTags" 
                        :value="t" 
                        :id="'_tag_option-'+i">{{t}}</option>
                  </select>
               </div>
               <div class="flex-auto">
                  <span class="p-2">by Title:</span>
                  <!-- text value for filter -->
                  <input v-model="titleInput" 
                     ref="txtTitleInput"
                     @focus="selectTitleContent"
                     class="h-[36px] align-baseline w-[360px] px-[8px] text-[16px] rounded-md
                        text-amber-500 selection:text-amber-700 selection:bg-blue-100 
                        focus:border-[0] focus:outline-none ">
               </div>
            </div>
         </div>
         <!-- main scrollable list area -->
         <div class="h-[740px] overflow-y-auto bg-slate-300">
            <noteItem v-for="(item, idx) in getFilteredNotes()"
               :id="'_note-item-'+idx"
               :item="item" 
               @noteItemClick="handleNoteItemClick" ></noteItem>
         </div>
         <!-- menubar (bottom) -->
         <div class="h-[50px] leading-[50px] flex">
            <div class="flex-auto">
               <span class="px-3 font-[13px] font-light">Create a Note:</span>
               <menubutton @menubuttonClick="handleMenubuttonClick" buttonID="add-plain-note" icons="pen-to-square"></menubutton>
               <menubutton @menubuttonClick="handleMenubuttonClick" buttonID="add-list-note" icons="list-ul"></menubutton>
               <menubutton @menubuttonClick="handleMenubuttonClick" buttonID="add-image-note" icons="images"></menubutton>
            </div>
         </div>
      </div>
      
   </div>
</template>

<script>
import backableHeader from './BackableHeader.vue';
import menubutton from './MenuButton.vue';
import noteItem from './HomeNoteItem.vue';

export default {
   components: {
      backableHeader,
      menubutton,
      noteItem,
   },
   data() {
      return {
         // the tag being selected for filtering (default value 'default')
         selectedTag: 'default',
         titleInput: '',
      };
   },
   methods: {
      handleBackButtonClick: function(payload) {
         console.log(`retrieved a back-button click: ${payload}`)
      },
      handleMenubarOptionClick: function(payload) {
         console.log(`menubar clicked : ${payload}`);
      },
      handleMenubuttonClick: function(payload) {
         // [debug]
         //console.log(`menubutton clicked -> ${payload}`);
         switch (payload) {
         case 'add-plain-note':
            this.fwd2AddNote();
            break;
         case 'add-list-note':
            this.$router.push({ path: '/note/Add/list', });
            break;
         case 'add-image-note':
            this.$router.push({ path: '/note/Add/image', });
            break;
         }
      },
      handleNoteItemClick: function(payload) {
         // add picked note object to Store
         this.$store.commit('setPickedNote', payload);

         switch (payload.type) {
         case 'plain':
            this.$router.push({ path: '/note/Edit' });
            break;
         case 'list':
            this.$router.push({ path: '/note/Edit/list' });
            break;
         case 'image':
            this.$router.push({ path: '/note/Edit/image' });
            break;
         default:
            // unsupported ... (should not happen though)
            // treat it as a "plain" text note
         }
      },
      selectTitleContent: function() {
         this.$refs.txtTitleInput.select();
      },
      
      // return the filtered notes (filter affected by the selected-tag AND tag-input-for-filter)
      getFilteredNotes: function() {
         // [deprecated]
         // let _notesClone = [].concat(this.getNotes);
         let _notesClone = JSON.parse(JSON.stringify(this.getNotes));

         // filter by "tag" first...
         for (let _i = _notesClone.length-1; _i >= 0; _i--) {
            const _n = _notesClone[_i];
            if (_n.tags.indexOf(this.selectedTag) == -1) {
               _notesClone.splice(_i, 1)
            }
         }
         if ("" != this.titleInput.trim().toLowerCase()) {
            // filter by "title" then
            for (let _i = _notesClone.length-1; _i >= 0; _i--) {
               const _n = _notesClone[_i];
               // title level match...
               if (_n.title.toLowerCase().indexOf(this.titleInput.toLowerCase()) == -1) {
                  _notesClone.splice(_i, 1)
               }
               // [missing] maybe should also check whether the _n.contents contain that "title-input" ??
            }
         }
         return _notesClone;
      },

      fwd2AddNote: function() {
         this.$router.push({ path: '/note/Add' });
      },

   },
   computed: {
      hasNotes: function() {
         return this.$store.getters.noteCount > 0;
      },
      getNotes: function() {
         return this.$store.state.notes;
      },
      // getAllTags - return the tags available within all notes (no matter what note-type)
      getAllTags: function() {
         let _tList = [];
         if (this.$store.getters.noteCount > 0) {
            const _notes = this.$store.state.notes;
            let _tList2 = [];
            // populate the tag-list (non-unique values)
            _notes.forEach(_n => {
               _tList2 = _tList2.concat(_n.tags);
            });
            // unique-fy the tags
            _tList2.forEach(_n => {
               // not found means a new unique value found
               if (_tList.indexOf(_n) == -1) {
                  _tList.push(_n);
               }
            });
            // remove 'default' before sort
            const _idx = _tList.findIndex((_t) => _t == 'default');
            if (_idx != -1) {
               _tList.splice(_idx, 1);
            }
            // sort
            _tList.sort();
         }
         // add back 'default'
         _tList.unshift('default');

         return _tList;
      },
      getNoNoteImage: function() {
         return 'no-note-splash.png';
      },
   },

}
</script>

<!--div class="overflow-y-auto h-[770px] hidden" contenteditable="true">
   main contents<br/>

   <font-awesome-icon :icon="['fas', 'phone']" />
   <font-awesome-icon icon="phone" />

   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vehicula ipsum a arcu cursus vitae congue mauris rhoncus aenean. Donec ultrices tincidunt arcu non sodales neque sodales ut. In fermentum et sollicitudin ac orci phasellus egestas. Nibh tortor id aliquet lectus proin nibh nisl. Nunc pulvinar sapien et ligula ullamcorper malesuada. Neque egestas congue quisque egestas diam in arcu. Mi tempus imperdiet nulla malesuada. Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque. Odio morbi quis commodo odio aenean sed. Id interdum velit laoreet id donec ultrices tincidunt. Mattis nunc sed blandit libero volutpat sed cras ornare arcu. Maecenas pharetra convallis posuere morbi leo. Cras adipiscing enim eu turpis egestas pretium aenean pharetra magna. Id cursus metus aliquam eleifend mi. Malesuada fames ac turpis egestas sed tempus urna. Porta non pulvinar neque laoreet suspendisse.

   Cursus turpis massa tincidunt dui ut ornare lectus. Aenean sed adipiscing diam donec adipiscing tristique risus nec feugiat. Blandit volutpat maecenas volutpat blandit aliquam. In massa tempor nec feugiat nisl pretium. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit. Vitae sapien pellentesque habitant morbi. Id volutpat lacus laoreet non curabitur gravida. Libero volutpat sed cras ornare. Mauris in aliquam sem fringilla ut. Maecenas accumsan lacus vel facilisis volutpat est velit egestas. Id neque aliquam vestibulum morbi. Nam at lectus urna duis convallis convallis. Tincidunt vitae semper quis lectus nulla at volutpat diam. Aliquet bibendum enim facilisis gravida neque convallis. Praesent tristique magna sit amet purus gravida. Facilisis volutpat est velit egestas. Sit amet purus gravida quis blandit turpis cursus in hac. Pellentesque dignissim enim sit amet venenatis urna cursus eget nunc.

   Sed elementum tempus egestas sed sed risus. Elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus. Dignissim suspendisse in est ante in nibh mauris cursus mattis. Nunc lobortis mattis aliquam faucibus purus in. Orci a scelerisque purus semper eget. Ac turpis egestas sed tempus. Convallis posuere morbi leo urna molestie at elementum eu. Vitae tortor condimentum lacinia quis. Vestibulum morbi blandit cursus risus at ultrices mi tempus. Porttitor eget dolor morbi non arcu risus. Pharetra massa massa ultricies mi quis hendrerit dolor magna. Convallis aenean et tortor at risus viverra. Eget magna fermentum iaculis eu non diam phasellus vestibulum lorem. Suspendisse interdum consectetur libero id faucibus nisl tincidunt eget. Eget nullam non nisi est. Porttitor leo a diam sollicitudin tempor.

   Semper feugiat nibh sed pulvinar proin gravida. Mi sit amet mauris commodo quis imperdiet massa tincidunt nunc. Enim ut tellus elementum sagittis vitae et. In nibh mauris cursus mattis molestie. Tellus at urna condimentum mattis pellentesque id nibh. Justo nec ultrices dui sapien eget mi proin sed libero. Mattis enim ut tellus elementum. Faucibus et molestie ac feugiat sed. Consequat semper viverra nam libero justo laoreet sit amet. Rhoncus urna neque viverra justo. Ut ornare lectus sit amet est placerat in. Nunc lobortis mattis aliquam faucibus purus. Et sollicitudin ac orci phasellus. Ut eu sem integer vitae justo eget magna fermentum. Quam quisque id diam vel. Praesent tristique magna sit amet purus gravida quis blandit. Condimentum lacinia quis vel eros. Pulvinar neque laoreet suspendisse interdum consectetur. Varius vel pharetra vel turpis nunc. Malesuada fames ac turpis egestas.

   Eget nullam non nisi est sit amet facilisis magna. In nulla posuere sollicitudin aliquam ultrices sagittis orci a. Ultrices dui sapien eget mi. Adipiscing tristique risus nec feugiat in fermentum. Libero volutpat sed cras ornare arcu dui vivamus. Facilisi nullam vehicula ipsum a arcu cursus vitae. Nam libero justo laoreet sit amet cursus sit amet dictum. Sociis natoque penatibus et magnis dis parturient montes. Fringilla ut morbi tincidunt augue interdum velit euismod. Ullamcorper a lacus vestibulum sed arcu non odio euismod lacinia.
</div-->