<!--
// GNU Affero General Public License V.3.0 or AGPL-3.0
//
// notes remake vite + vue3
// Copyright (C) 2021,2022 - quoeamaster@gmail.com
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
   <div @click="menubuttonClick" 
      class="inline-block ml-1 h-[36px] leading-[36px] w-[36px] text-center my-auto 
         hover:shadow-lg hover:shadow-slate-500 hover:bg-slate-200 hover:text-blue-800
         border border-slate-400 rounded-md cursor-pointer">
      <fa-icon :icon="icons"></fa-icon>
   </div>
</template>

<script>
export default {
   props: {
      // icon list for display
      icons: String,
      // label or ID for this icon, for identifying which button was clicked
      buttonID: String,
   },
   emits: [ 'menubuttonClick' ],
   methods: {
      menubuttonClick: function() {
         this.$emit('menubuttonClick', this.buttonID);
      },
   },
}
</script>
