<!--
// GNU Affero General Public License V.3.0 or AGPL-3.0
//
// notes remake vite + vue3
// Copyright (C) 2021,2022 - quoeamaster@gmail.com
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
   <!-- core dialog (for notification purpose) -->
   <dialogCore :show="shouldShowDialog" 
      :dlgType="dlgType" 
      :msg="dlgMsg" 
      @dlgClick="handleDlgClick"></dialogCore>

   <!-- main editor -->
   <div class="overflow-y-auto h-[740px] bg-slate-200 px-4 py-2 mx-1 rounded-md" >
      <div v-if="false == isEditAction && false == imageRendered" class="h-[400px] bg-slate-100 bg-no-repeat bg-center bg-auto cursor-pointer" 
         :style="getBgImage" 
         @click="handleFilePick" ></div>
      <div v-if="true == isEditAction || true == imageRendered" class="h-[400px] bg-slate-100 cursor-pointer">
         <img ref="refImg" class="object-scale-down h-[400px] cursor-pointer my-auto w-[calc(100%+1rem)]" 
            @click="handleFilePick" 
            :src="getRenderedImg"/>
      </div>
      <!-- file uploader hidden -->
      <input type="file" accept="image/gif, image/jpeg, image/png" class="hidden" @change="previewImage" ref="refFilepicker">
      <!-- text editor -->
      <div class="overflow-y-auto h-[324px] bg-slate-200 px-4 py-2 mx-1 rounded-md" 
         ref="noteArea"
         @click="handleNoteAreaClick"
         @keyup="handleKeyup"
         v-html="getNoteContent"
         contenteditable="true">
      </div>

   </div>

   <!-- bottom menubar (e.g. save button) -->
   <div class="h-[50px] leading-[50px] flex">
      <div class="flex-auto">
         <menubutton v-if="true == isEditAction" @menubuttonClick="handleMenubuttonClick" buttonID="trash" icons="trash"></menubutton>
         <menubutton v-if="false == isEditAction" @menubuttonClick="handleMenubuttonClick" buttonID="clear" icons="eraser"></menubutton>
         <menubutton @menubuttonClick="handleMenubuttonClick" buttonID="save" icons="floppy-disk"></menubutton>
         <!-- widget updatable based on "action" -->
         <input v-if="!isEditAction"
            v-model="noteName" 
            @keyup="handleNoteNameChange"
            @focus="handleNoteNameTextinputFocus" 
            ref="noteNameTextinput" 
            type="text" 
            class="h-[36px] leading-[36px] ml-[8px] focus:outline-none border border-slate-300 rounded-md w-[300px] px-3" />
         <!-- widget updatable based on "action" -->
         <input v-if="isEditAction" 
            disabled=true
            class="h-[36px] leading-[36px] ml-[8px] border border-slate-300 rounded-md w-[300px] px-3 bg-slate-200 text-gray-500"
            :value="getPickedNoteTitle" />
      </div>
      <div class="flex-auto text-right mr-1">
         <!-- widget updatable based on "action" -->
         <select v-if="!isEditAction"
            v-model="noteType"
            @change="handleNoteTypeChange"
            class="mr-2 h-[36px] leading-[36px] my-auto rounded-md px-2 cursor-pointer text-center
               appearance-none w-full font-light border border-solid border-gray-300 
               transition ease-in-out focuse:outline-none">
            <!-- option value="">pick one {Note Type}... </option -->
            <option value="plain">plain text note</option>
            <option value="list">list note</option>
            <option value="image">photo note</option>
         </select>
         <!-- widget updatable based on "action" -->
         <input v-if="isEditAction" 
            disabled=true
            class="text-center h-[36px] leading-[36px] ml-[8px] border border-slate-300 rounded-md w-[300px] px-3 bg-slate-200 text-gray-500"
            :value="getPickedNoteType" />
      </div>
   </div>


</template>

<script>
import dialogCore from './Dialog.vue';
import menubutton from './MenuButton.vue';

export default {
   components: {
      dialogCore,
      menubutton,
   },
   emits: [ 'noteNameChange', 'noteTypeChange' ],
   props: {
      tags: Array[String],
      // action for this note (add / edit)
      noteAction: String,
   },
   computed: {
      isEditAction: function() {
         return ('Edit' == this.noteAction);
      },
      getPickedNote: function() {
         return this.$store.getters.clonedPickedNote;
      },
      getPickedNoteTitle: function() {
         const _n = this.getPickedNote;
         if (_n) {
            return _n.title;
         }
         return '';
      },
      getPickedNoteType: function() {
         const _n = this.getPickedNote;
         if (_n) {
            switch (_n.type) {
            case 'plain':
               return 'plain text note'
            case 'list':
               return 'list note'
            case 'image':
               return 'photo note'
            }
         }
         return 'unknown...';
      },
      getBgImage: function() {
         return `background-image: url('${this.bgImageUrl}');`;
      },
      getRenderedImg: function() {
         if (this.isEditAction) {
            const _n = this.getPickedNote;
            if (_n) {
               //console.log(`content: ${_n.contents.iSrc}`);
               return _n.contents.iSrc;
            }
         }
         return '';
      },
      getNoteContent: function() {
         if (true == this.isFirstEdit && !this.isEditAction) {
            return `   describe the photo here... :)`;
         }
         // edit + (no matter first attempt or not)
         if (true == this.isEditAction) {
            this.isFirstEdit = false;
            const _n = this.getPickedNote;
            if (_n) {
               return _n.contents.message;
            }
         }
         return '';
      },

   },
   data() {
      return {
         shouldShowDialog: false,
         dlgType: 'alert',
         // alt_general, cfm_change_note_type
         dlgId: 'alt_general',
         dlgMsg: '',

         // whether an edit has been done yet
         isFirstEdit: true,

         noteName: 'untitled-note',
         noteType: 'image',

         bgImageUrl: '/default-image.png',
         // if image rendered, then swap for display instead of the default image background...
         imageRendered: false,
      };
   },
   methods: {
      handleNoteNameChange: function() {
         this.$emit('noteNameChange', this.noteName);
      },
      handleNoteNameTextinputFocus: function() {
         this.$refs.noteNameTextinput.select();
      },
      handleNoteTypeChange: function() {
         // check whether the note content has been changed and required to discard changes?
         if (!this.isFirstEdit || this.imageRendered) {
            this.dlgType = "confirm";
            this.dlgMsg = "Discard note changes?";
            this.shouldShowDialog = true;
            this.dlgId = 'cfm_change_note_type';
         } else {
            this.$emit('noteTypeChange', this.noteType);
         }
      },
      handleFilePick: function() {
         let _f = this.$refs.refFilepicker;
         if (_f) {
            _f.click();
         }
      },
      handleNoteAreaClick: function() {
         if (true == this.isFirstEdit) {
            const _noteArea = this.$refs.noteArea;
            if (_noteArea) {
               _noteArea.innerHTML = '';
               this.isFirstEdit = false;
            }
         }
      },
      handleKeyup: function() {
         // [missing] apply keyup events to format the content
      },

      handleDlgClick: function(payload) {
         // [debug]
         //console.log(` b4 swtiching note type ${this.noteType} - ${this.dlgId} = ${this.dlgType} - ${payload}`)
         if ('confirm' == this.dlgType && 'yes' == payload) {
            switch (this.dlgId) {
            case 'cfm_change_note_type':
               this.$emit('noteTypeChange', this.noteType);
               break;
            case 'cfm_remove_note':
               // really remove...
               this.$store.commit('removeNote');
               this.$router.push({name: 'Home',});
               break;
            }
         }
         // kind of reset for rejected confirm value 
         //  && this.dlgId == 'cfm_change_note_type'
         if ('confirm' == this.dlgType && 'no' == payload) {
            switch (this.dlgId) {
            case 'cfm_change_note_type':
               this.noteType = 'image';
               break;
            case 'cfm_remote_note':
               // do nothing... at the moment
               break;
            }
         }
         // since only 1 alert message + 1 confirm message, hence no need to add back "dlgId" flag
         if ('alert' == this.dlgType) {
            this.$router.push({name: 'Home',});
         }
         // hide the dialog (reset)
         this.shouldShowDialog = false;
         this.dlgMsg = '';
         this.dlgType = "alert";
         this.dlgId = 'alt_general';
      },
      handleMenubuttonClick: function(payload) {
         switch (payload) {
         case 'trash':
            // show confirm dlg...
            // valid values [ alt-general, cfm-change-note-type, cfm-remove-note ]
            this.shouldShowDialog = true;
            this.dlgMsg = 'Sure to remove this note ??';
            this.dlgType = "confirm";
            this.dlgId = 'cfm_remove_note';
            break;
         case 'clear':
            this.imageRendered = false;
            this.$refs.refImg.src = '';
            this.$refs.noteArea.innerHTML = '';
            this.isFirstEdit = true;
            break;
         case 'save':
            let _imgSrc = '';
            if (this.$refs.refImg) {
               _imgSrc = this.$refs.refImg.src
            }
            const _noteSrc = this.$refs.noteArea.innerHTML;

            if (true == this.isEditAction) {
               this.$store.commit('updatePickedNote', {
                  tags: this.tags,
                  contents: {
                     iSrc: _imgSrc,
                     message: _noteSrc,
                  },
               });
            } else {
               let _note = {
                  'title': this.noteName,
                  'type': 'image',
                  'tags': this.tags,
                  'contents': {
                     iSrc: _imgSrc,
                     message: _noteSrc,
                  },
               };
               this.$store.commit('addNote', _note);
               // [debug]
               //console.log(this.$store.state.notes[0]);
            }
            // show information dialog
            this.shouldShowDialog = true;
            this.dlgMsg = 'Note has been updated | saved';
            this.dlgType = "alert";
            this.dlgId = 'alt_general';

            break;
         default:
            console.log(`non-supported menubutton: ${payload}`);
         }
      },
      previewImage: function(e) {
         const _ctx = this;
         this.imageRendered = true;
         setTimeout(() => {
            let _rImg = _ctx.$refs.refImg;
            if (_rImg) {
               // [debug] [lesson]
               // blob:http://localhost:3000/c6ee9e75-773f-4ba0-94e1-febbb22bec52 (only valid within the document's lifetime)
               // good for temporary displays (save processing power but sacrifices memory)
               //_rImg.src = URL.createObjectURL(e.target.files[0]);
               //console.log(_rImg.src);

               // [base64 approach] 
               // data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABLAAAA....... 
               // (valid for lifetime even document's removed the base64 content is still valid) 
               // good for re-usable of the image data to re-display after persistent.
               const _r = new FileReader();
               _r.readAsDataURL(e.target.files[0]);
               _r.onload = function() {
                  _rImg.src = _r.result;
                  _ctx.imageRendered = true;
                  // [debug]
                  //console.log(`base64: ${_r.result}`);
               };
            }
         }, 200); // let vue to update the virtual DOM before loading the image
      },

      

   },

}
</script>