<!--
// GNU Affero General Public License V.3.0 or AGPL-3.0
//
// notes remake vite + vue3
// Copyright (C) 2021,2022 - quoeamaster@gmail.com
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
   <!-- core dialog (for notification purpose) -->
   <dialogCore :show="shouldShowDialog" 
      :dlgType="dlgType" 
      :msg="dlgMsg" 
      @dlgClick="handleDlgClick"></dialogCore>

   <!-- main editor, a contenteditable div -->
   <!-- [bug??] v-model does NOT work with a div... (non form input), hence using "ref" instead -->
   <div class="overflow-y-auto h-[740px] bg-slate-200 px-4 py-2 mx-1 rounded-md" 
      ref="noteArea"
      @click="handleNoteAreaClick"
      @keyup="handleKeyup"
      v-html="getNoteContent"
      contenteditable="true">
   </div>

   <!-- bottom menubar (e.g. save button) -->
   <div class="h-[50px] leading-[50px] flex">
      <div class="flex-auto">
         <menubutton v-if="true == isEditAction" @menubuttonClick="handleMenubuttonClick" buttonID="trash" icons="trash"></menubutton>
         <menubutton v-if="false == isEditAction" @menubuttonClick="handleMenubuttonClick" buttonID="clear" icons="eraser"></menubutton>
         <menubutton @menubuttonClick="handleMenubuttonClick" buttonID="save" icons="floppy-disk"></menubutton>
         <!-- widget updatable based on "action" -->
         <input v-if="!isEditAction"
            v-model="noteName" 
            @keyup="handleNoteNameChange"
            @focus="handleNoteNameTextinputFocus" 
            ref="noteNameTextinput" 
            type="text" 
            class="h-[36px] leading-[36px] ml-[8px] focus:outline-none border border-slate-300 rounded-md w-[300px] px-3" />
         <!-- widget updatable based on "action" -->
         <input v-if="isEditAction" 
            disabled=true
            class="h-[36px] leading-[36px] ml-[8px] border border-slate-300 rounded-md w-[300px] px-3 bg-slate-200 text-gray-500"
            :value="getPickedNoteTitle" />
      </div>
      <div class="flex-auto text-right mr-1">
         <!-- widget updatable based on "action" -->
         <select v-if="!isEditAction"
            v-model="noteType"
            @change="handleNoteTypeChange"
            class="mr-2 h-[36px] leading-[36px] my-auto rounded-md px-2 cursor-pointer text-center
            appearance-none w-full font-light border border-solid border-gray-300 
            transition ease-in-out focuse:outline-none">
            <!-- option value="">pick one {Note Type}... </option -->
            <option value="plain">plain text note</option>
            <option value="list">list note</option>
            <option value="image">photo note</option>
         </select>
         <!-- widget updatable based on "action" -->
         <input v-if="isEditAction" 
            disabled=true
            class="text-center h-[36px] leading-[36px] ml-[8px] border border-slate-300 rounded-md w-[300px] px-3 bg-slate-200 text-gray-500"
            :value="getPickedNoteType" />
      </div>
   </div>
</template>

<script>
import menubutton from './MenuButton.vue';
import dialogCore from './Dialog.vue';

export default {
   components: {
      menubutton,
      dialogCore,
   },
   emits: [ 'noteNameChange', 'noteTypeChange' ],
   props: {
      tags: Array[String],
      // action for this note (add / edit)
      noteAction: String,
   },
   data() {
      return {
         // whether an edit has been done yet
         isFirstEdit: true,
         // default is "plain"
         noteType: 'plain',
         noteName: 'untitled-note',

         // controls when to show the dialog
         shouldShowDialog: false,
         // msg for the dialog
         dlgMsg: '',
         // controls the dialog's type (default is "alert")
         dlgType: 'alert',
         // valid values [ alt-general, cfm-change-note-type, cfm-remove-note ]
         dlgId: 'alt-general',
      }
   },
   computed: {
      getNoteContent: function() {
         if (true == this.isFirstEdit && !this.isEditAction) {
            return `   write the NOTE here... :)`;
         }
         // edit + (no matter first attempt or not)
         if (true == this.isEditAction) {
            this.isFirstEdit = false;
            const _n = this.getPickedNote;
            if (_n) {
               return _n.contents;
            }
         }
         return '';
      },
      isEditAction: function() {
         return "Edit" == this.noteAction;
      },
      getPickedNote: function() {
         return this.$store.getters.clonedPickedNote;
      },
      getPickedNoteTitle: function() {
         const _n = this.getPickedNote;
         if (_n) {
            return _n.title;
         }
         return '';
      },
      getPickedNoteType: function() {
         const _n = this.getPickedNote;
         if (_n) {
            switch (_n.type) {
            case 'plain':
               return 'plain text note'
            case 'list':
               return 'list note'
            case 'image':
               return 'photo note'
            }
         }
         return 'unknown...';
      },
   },
   methods: {
      handleNoteAreaClick: function() {
         if (true == this.isFirstEdit) {
            const _noteArea = this.$refs.noteArea;
            if (_noteArea) {
               _noteArea.innerHTML = '';
               this.isFirstEdit = false;
            }
         }
      },
      handleKeyup: function() {
         // [missing] apply keyup events to format the content
      },
      handleMenubuttonClick: function(payload) {
         switch (payload) {
            case 'trash': 
               // show confirm dlg...
               // valid values [ alt-general, cfm-change-note-type, cfm-remove-note ]
               this.shouldShowDialog = true;
               this.dlgMsg = 'Sure to remove this note ??';
               this.dlgType = "confirm";
               this.dlgId = 'cfm-remove-note';
               break;
            case 'clear':
               // treat it as a "blank" note once again...
               this.$refs.noteArea.innerHTML = '';
               this.isFirstEdit = true;
               break;
            case 'save': 
               // save logic changes according to the "noteAction" value
               if (true == this.isEditAction) {
                  this.$store.commit('updatePickedNote', {
                     tags: this.tags,
                     contents: this.$refs.noteArea.innerHTML,
                  });
               } else {
                  let _note = {
                     'title': this.noteName,
                     'type': 'plain',
                     'tags': this.tags,
                     'contents': this.$refs.noteArea.innerHTML,
                  };
                  this.$store.commit('addNote', _note);
                  // [debug]
                  //console.log(this.$store.state.notes[0]);
               }
               // show information dialog
               this.shouldShowDialog = true;
               this.dlgMsg = 'Note has been updated | saved';
               this.dlgType = "alert";
               this.dlgId = 'alt-general';

               break;
            default: 
               console.log(`not supported menubutton operation: ${payload}`);
         }
      },
      handleNoteNameTextinputFocus: function() {
         this.$refs.noteNameTextinput.select();
      },
      handleNoteTypeChange: function() {
         // check whether the note content has been changed and required to discard changes?
         if (!this.isFirstEdit) {
            this.dlgType = "confirm";
            this.dlgMsg = "Discard note changes?";
            this.shouldShowDialog = true;
            this.dlgId = 'cfm-change-note-type';
         } else {
            this.$emit('noteTypeChange', this.noteType);
         }
      },
      handleNoteNameChange: function() {
         this.$emit('noteNameChange', this.noteName);
      },
      handleDlgClick: function(payload) {
         if ('confirm' == this.dlgType && 'yes' == payload) {
            switch (this.dlgId) {
            case 'cfm-change-note-type':
               //console.log(`confirm value -> ${payload}`);
               this.$emit('noteTypeChange', this.noteType);
               break;
            case 'cfm-remove-note':
               // really remove...
               this.$store.commit('removeNote');
               this.$router.push({name: 'Home',});
               break;
            }
         }
         // kind of reset for rejected confirm value 
         //  && this.dlgId == 'cfm_change_note_type'
         if ('confirm' == this.dlgType && 'no' == payload) {
            switch (this.dlgId) {
            case 'cfm-change-note-type':
               this.noteType = 'plain';
               break;
            case 'cfm-remote-note':
               // do nothing... at the moment
               break;
            }
         }
         // since only 1 alert message + 1 confirm message, hence no need to add back "dlgId" flag
         if ('alert' == this.dlgType) {
            this.$router.push({name: 'Home',});
         }
         // hide the dialog (reset)
         this.shouldShowDialog = false;
         this.dlgMsg = '';
         this.dlgType = "alert";
         this.dlgId = 'alt-general';
      },

   },
}
</script>

<!-- # sample contents...

sample note content for 'plain' type

Hey there my name is Que

I am here to introduce a new notes app to you
- plain text note
- photo + description note

purely built on top of vue3 and vite and tailwind

-=-=-=

for fun

- demo purpose
  - you never know 12@#55 is the password
- wayne manor's passcode?

Yours sincerely,
JoJo
-->