<!--
// GNU Affero General Public License V.3.0 or AGPL-3.0
//
// notes remake vite + vue3
// Copyright (C) 2021,2022 - quoeamaster@gmail.com
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
   <!-- core dialog (for notification purpose) -->
   <dialogCore :show="shouldShowDialog" 
      :dlgType="dlgType" 
      :msg="dlgMsg" 
      @dlgClick="handleDlgClick"></dialogCore>

   <!-- main editor -->
   <div class="overflow-y-auto h-[740px] bg-slate-200 py-6 mx-1 rounded-md" >
      <div v-for="(item, idx) in getListItems" 
         class="flex h-[60px] leading-[60px] align-middle"
         :id="'_list-item-'+idx" >

         <!-- checklist circle -->
         <div class="flex-initial w-[80px] text-center">
            <fa-icon v-if="false == item.checked" :icon="['far', 'circle']" 
               @click="item.checked = true"
               class="text-amber-400 text-[26px] cursor-pointer"></fa-icon>
            <fa-icon v-if="true  == item.checked" :icon="['fas', 'circle-check']" 
               @click="item.checked = false"
               class="text-amber-400 text-[26px] cursor-pointer"></fa-icon>
         </div>

         <!-- actual textinput for the message -->
         <div class="flex-auto">
            <!-- [lesson] bind the value inputed back to the listItems variable -->
            <input type="text" 
               v-model="item.message"
               class="w-[660px] rounded-md px-4 cursor-pointer text-slate-600 bg-slate-200 overflow-x-scroll text-[20px]
                  focus:cursor-auto focus:bg-white focus:outline-none focus:text-sky-600" 
               placeholder="content of the list item..." 
               @keyup="handleItemKeyup"
               @keyup.enter="handleItemKeyupEnter"
               @keyup.escape="handleItemKeyupEscape" />            
         </div>

         <!-- trash current item -->
         <div class="flex-initial w-[80px] text-center">
            <fa-icon icon="trash" class="text-slate-500 text-[26px] cursor-pointer" @click="removeItem(idx)"></fa-icon>
         </div>

      </div>
   </div>

   <!-- bottom panel of the note / view -->
   <div class="h-[50px] leading-[50px] flex">
      <div class="flex-auto">
         <menubutton v-if="true == isEditAction" @menubuttonClick="handleMenubuttonClick" buttonID="trash" icons="trash"></menubutton>
         <menubutton v-if="false == isEditAction" @menubuttonClick="handleMenubuttonClick" buttonID="clear" icons="eraser"></menubutton>
         <menubutton @menubuttonClick="handleMenubuttonClick" buttonID="save" icons="floppy-disk"></menubutton>
         <!-- widget updatable based on "action" -->
         <input v-if="!isEditAction"
            v-model="noteName" 
            @keyup="handleNoteNameChange"
            @focus="handleNoteNameTextinputFocus" 
            ref="noteNameTextinput" 
            type="text" 
            class="h-[36px] leading-[36px] ml-[8px] focus:outline-none border border-slate-300 rounded-md w-[300px] px-3" />
         <!-- widget updatable based on "action" -->
         <input v-if="isEditAction" 
            disabled=true
            class="h-[36px] leading-[36px] ml-[8px] border border-slate-300 rounded-md w-[300px] px-3 bg-slate-200 text-gray-500"
            :value="getPickedNoteTitle" />
      </div>
      <div class="flex-auto text-right mr-1">
         <!-- widget updatable based on "action" -->
         <select v-if="!isEditAction"
            v-model="noteType"
            @change="handleNoteTypeChange"
            class="mr-2 h-[36px] leading-[36px] my-auto rounded-md px-2 cursor-pointer text-center
               appearance-none w-full font-light border border-solid border-gray-300 
               transition ease-in-out focuse:outline-none">
            <!-- option value="">pick one {Note Type}... </option -->
            <option value="plain">plain text note</option>
            <option value="list">list note</option>
            <option value="image">photo note</option>
         </select>
         <!-- widget updatable based on "action" -->
         <input v-if="isEditAction" 
            disabled=true
            class="text-center h-[36px] leading-[36px] ml-[8px] border border-slate-300 rounded-md w-[300px] px-3 bg-slate-200 text-gray-500"
            :value="getPickedNoteType" />
      </div>
   </div>

</template>

<script>
import { toHandlers } from 'vue';
import dialogCore from './Dialog.vue';
import menubutton from './MenuButton.vue';

export default {
   components: {
      dialogCore,
      menubutton,
   },
   emits: [ 'noteTypeChange', 'noteNameChange' ],
   props: {
      tags: Array[String],
      // action for this note (add / edit)
      noteAction: String,
   },
   computed: {
      isEditAction: function() {
         return ('Edit' == this.noteAction);
      },
      getPickedNote: function() {
         return this.$store.getters.clonedPickedNote;
      },
      getPickedNoteTitle: function() {
         const _n = this.getPickedNote;
         if (_n) {
            return _n.title;
         }
         return '';
      },
      getPickedNoteType: function() {
         const _n = this.getPickedNote;
         if (_n) {
            switch (_n.type) {
            case 'plain':
               return 'plain text note'
            case 'list':
               return 'list note'
            case 'image':
               return 'photo note'
            }
         }
         return 'unknown...';
      },
      getListItems: function() {
         // edit + (no matter first attempt or not)
         if (true == this.isEditAction) {
            this.isFirstEdit = false;
            const _n = this.getPickedNote;
            if (_n) {
               this.listItems = _n.contents;
            }
         }
         return this.listItems;
      },

   },
   data() {
      return {
         // whether an edit has been done yet
         isFirstEdit: true,

         // -- dialog related --
         shouldShowDialog: false,
         dlgType: 'alert',
         dlgMsg: '',
         // an ID identifying which dialog is supposed to be showing at the moment...
         // valid values: [ cfm_delete, cfm_change_note_type, cfm_remove_note, alt_general ]
         dlgId: 'alt_general', 

         // items for the list (default is 1 empty string entry - which means always have at least 1 entry) 
         listItems: [ { checked: false, message: "" } ],
         // the picked item's index (for removal purpose)
         pickedItemIdx: -1,

         noteName: 'untitled-note',
         noteType: 'list',
      };
   },
   methods: {
      handleDlgClick: function(payload) {
         // [debug]
         //console.log(`dlg clicked ${payload}`);

         if ('confirm' == this.dlgType && 'yes' == payload) {
            // what confirm dlg is it?  //cfm_delete, cfm_change_note_type, alt_general
            switch (this.dlgId) {
            case "cfm_delete":
               if (this.pickedItemIdx != -1 && this.pickedItemIdx < this.listItems.length) {
                  this.listItems.splice(this.pickedItemIdx, 1);
               }
               if (this.listItems.length == 0) {
                  this.listItems.push({ checked: false, message: '', });
               }
               break;
            case 'cfm_change_note_type':
               this.$emit('noteTypeChange', this.noteType);
               break;
            case 'cfm_remove_note':
               // really remove...
               this.$store.commit('removeNote');
               this.$router.push({name: 'Home',});
               break;
            }
         }
         // kind of reset for rejected confirm value
         if ('confirm' == this.dlgType && 'no' == payload && this.dlgId == 'cfm_change_note_type') {
            this.noteType = 'list';
         }
         if ('alert' == this.dlgType && 'alt-save' == this.dlgId) {
            this.$router.push({ name: "Home", });
         }

         // reset
         this.dlgMsg = '';
         this.dlgType = 'alert';
         this.shouldShowDialog = false;
         this.pickedItemIdx = -1;
         this.dlgId = "alt_general";
      },
      handleItemKeyup: function(e) {
         if (true == this.isFirstEdit) {
            this.isFirstEdit = false;
         }
      },
      handleItemKeyupEnter: function(e) {
         this.handleItemKeyupEscape(e);
         // add a new item...
         this.listItems.push({ checked: false, message: "" });
      },
      handleItemKeyupEscape: function(e) {
         if (e && e.target) {
            e.target.blur();
         }
         // [debug]
         //console.log(this.listItems);
      },
      handleNoteNameChange: function() {
         this.$emit('noteNameChange', this.noteName);
      },
      handleNoteNameTextinputFocus: function() {
         this.$refs.noteNameTextinput.select();
      },
      handleNoteTypeChange: function() {
         // check whether the note content has been changed and required to discard changes?
         if (!this.isFirstEdit) {
            this.dlgType = "confirm";
            this.dlgMsg = "Discard note changes?";
            this.shouldShowDialog = true;
            this.dlgId = 'cfm_change_note_type';
         } else {
            this.$emit('noteTypeChange', this.noteType);
         }
      },
      handleMenubuttonClick: function(payload) {
         switch (payload) {
         case "save":
            if (true == this.isEditAction) {
               this.$store.commit('updatePickedNote', {
                  tags: this.tags,
                  contents: this.listItems,
               });
            } else {
               let _note = {
                  'title': this.noteName,
                  'type': 'list',
                  'tags': this.tags,
                  'contents': this.listItems,
               };
               this.$store.commit('addNote', _note);
               // [debug]
               //console.log(this.$store.state.notes);
            }
            // show information dialog
            this.shouldShowDialog = true;
            this.dlgMsg = 'Note has been updated | saved';
            this.dlgType = "alert";
            this.dlgId = 'alt-save';

            break;
         case "clear":
            this.listItems = [{ checked: false, message: '', }];
            break;
         case "trash":
            // handling could be different (should it be CLEAR or DELETE)
            this.shouldShowDialog = true;
            this.dlgMsg = 'Sure to remove this note ??';
            this.dlgType = "confirm";
            this.dlgId = 'cfm_remove_note';
            break;
         }
      }, 

      // show dialog and defer the remove logic in the dialog's click handler instead.
      removeItem: function(idx) {
         // confirm dialog
         this.dlgMsg = 'are you sure to remove this note item?';
         this.dlgType = 'confirm';
         this.shouldShowDialog = true;
         this.pickedItemIdx = idx;
         this.dlgId = "cfm_delete";
      },

   },
}
</script>