<!--
// GNU Affero General Public License V.3.0 or AGPL-3.0
//
// notes remake vite + vue3
// Copyright (C) 2021,2022 - quoeamaster@gmail.com
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
   <!-- core dialog (for notification purpose) -->
   <dialogCore :show="shouldShowDialog" 
      dlgType="alert" 
      :msg="dlgMsg" 
      @dlgClick="handleDlgClick"></dialogCore>
   <!-- note's main UI -->
   <div>
      <backable-header 
         :needBacking=true 
         backLabel="Back" 
         :title="getTitle" 
         activityViewID="showNoteOptions"
         @backButtonClick="handleBackButtonClick" ></backable-header>

      <!-- menubar (non-sharable... seems) -->
      <div class="h-[50px] leading-[50px] border-b border-b-slate-200 drop-shadow-md text-[20px] px-[20px]">
         <div class="flex">
            <div class="flex-initial">
               <fa-icon icon="tags" class="text-slate-600 pr-[8px]"></fa-icon>
               <span class="text-[18px] pr-[8px] cursor-pointer hover:text-blue-500" 
                  @click="addTagBtnClick">add tag(s) ...</span>
            </div>
            <div class="flex-auto">
               <cancellableTextinput v-if="isTagInputFocus==true" @blurTextinput="handleBlurTextinput" :isTagInputFocus="isTagInputFocus"></cancellableTextinput>
               <!-- the tag labels -->
               <div v-if="isTagInputFocus==false" class="overflow-auto h-[50px] leading-[50px] w-[600px]">
                  <cancellableLabel v-for="(label, idx) in getTagList()"
                     :label="label" 
                     :id="idx+'-cancellableLabel'"
                     :canCancel="isLabelNotDefault(label)"
                     @cancelClick="handleLabelCancelClick"></cancellableLabel>
               </div>
            </div>
         </div>
      </div>

      <!-- 
         sub route for different note editor 
         each editor has its own route, 
         default route displays the plain-text note editor
      -->
      <router-view 
         :tags="tagList"
         :noteAction="action"
         @noteTypeChange="handleNoteTypeChange"
         @noteNameChange="handleNoteNameChange"></router-view>

   </div>
</template>

<script>
import backableHeader from './BackableHeader.vue';
import cancellableTextinput from './CancellableTextinput.vue';
import cancellableLabel from './CancellableLabel.vue';
import dialogCore from './Dialog.vue';

export default {
   components: {
      backableHeader,
      cancellableTextinput,
      cancellableLabel,
      dialogCore,
   },
   data() {
      return {
         // tags for this note, "default" is always there (but not showing)
         tagList: [ 'default' ],
         // should the cancellable-textinput textbox to be focused?
         isTagInputFocus: false,

         // controls whether the dialog should be shown
         isDialogueShowable: false,
         // message for the dialog to display
         dlgMsg: '',

         // local variable on the note's name / title
         noteName: 'untitled-note',

         // whether the page is first-attempt
         firstAttempt: true,
      };
   },
   props: {
      // the action for accessing this "Note"
      action: String
   },
   computed: {
      isEditAction: function() {
         return "Edit" == this.action;
      },
      getTitle: function() {
         //  (${this.action})
         if (true == this.isEditAction) {
            let _n = this.getPickedNoteForEdit();
            if (_n) {
               this.noteName = _n.title;
            }
         }
         return `${this.noteName}`;
      },
      shouldShowDialog: function() {
         return this.isDialogueShowable;
      },
   },
   methods: {
      handleBackButtonClick: function() {
         this.$router.push({ name: 'Home' });
      },
      handleBlurTextinput: function(payload) {
         this.isTagInputFocus = false;
         if ('' != payload) {
            // check if the payload / tag is unique
            let _isFound = false;
            this.tagList.forEach(element => {
               if (!_isFound && element == payload) {
                  _isFound = true;
               }
            });
            if (!_isFound) {
               this.tagList = this.tagList.concat(payload);
            } else {
               // display a warning message
               this.dlgMsg = `"${payload}" is a repeated tag...`;
               this.isDialogueShowable = true;
            }
         }
      },
      handleLabelCancelClick: function(payload) {
         for (let _idx=0; _idx<this.tagList.length; _idx++) {
            if (this.tagList[_idx] == payload) {
               this.tagList.splice(_idx, 1);
               break;
            }
         }
      },
      handleDlgClick: function() {
         this.isDialogueShowable = false;
      },
      handleNoteNameChange: function(payload) {
         this.noteName = payload;
      },
      handleNoteTypeChange: function(payload) {
         switch (payload) {
         case 'plain':
            this.$router.push({ 'name': 'notePlain', })
            break
         case 'list':
            this.$router.push({ 'name': 'noteList', })
            break
         case 'image':
            this.$router.push({ 'name': 'notePhoto', })
            break
         }
      },
      
      addTagBtnClick: function() {
         this.isTagInputFocus = true;
      },
      isLabelNotDefault: function(label) {
         if ('default' == label) {
            return false;
         }
         return true;
      },
      getPickedNoteForEdit: function () {
         if (true == this.isEditAction) {
            // return this.$store.getters.pickedNote;
            return this.$store.getters.clonedPickedNote;
         }
      },
      getTagList: function() {
         // only the 1st-attempt required to get the data from the clone...
         if (this.firstAttempt && true == this.isEditAction) {
            this.firstAttempt = false;
            this.tagList = this.getPickedNoteForEdit().tags;
         }
         return this.tagList;
      },

   },
}
</script>

