<!--
// GNU Affero General Public License V.3.0 or AGPL-3.0
//
// notes remake vite + vue3
// Copyright (C) 2021,2022 - quoeamaster@gmail.com
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
   <div class="text-center pt-60">
      <div class="text-[30px] font-serif font-light">
         sorry~ the URL you are requesting is not available
      </div>
      <div class="pt-[40px]">
         <button class="btn btn-primary btn-lg" @click="homeClick">Home</button>
      </div>
      
   </div>
</template>

<script>
export default {
   methods: {
      homeClick: function() {
         this.$router.push({ path: '/' });
      },
   },
}
</script>
